/* Recursos: */

@import url("../CSS/Global.css");

/* Estilos: */

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.container-data-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    width: 498px; 
    border-radius: 10px;
    gap: 10px;
    box-shadow: 2px 2px 8px 1px #00000034;
    margin: 5px 0px 25px 0;
}
.container-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    padding: 10px;
}
.data{
    border: none;
    width: 130px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}
/*box equipamentos*/
.container-equip-box{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
    align-items: flex-start;
    background-color: #f2f2f2;
    height: 150px; 
    width: 498px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 2px 2px 8px 1px #00000034;
    margin: 5px 0px 25px 0;
}
.container-equip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    padding: 10px;
}
.equip{
    border: none;
    width: 130px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}
/*box bloco*/
.container-bloco-box{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
    align-items: flex-start;
    background-color: #f2f2f2;
    width: 498px;
    border-radius: 10px;
    gap: 24px;
    box-shadow: 2px 2px 8px 1px #00000034;
    margin: 5px 0px 25px 0;
}
.container-bloco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    padding: 10px;
}
.bloco{
    border: none;
    width: 130px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    gap: 20px;
}
button{
    padding: 12px;
    width: 100px;
    font-weight: bold;  
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 1px #00000034;
    cursor: pointer;
}
button:hover{
    opacity: .6;
}


main figure {

    height: 300px;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;

}

main figure img {

    height: 100%;
    width: 100%;
    overflow: hidden;

}

main article {

    font-size: 25px;
    text-align: start;

}

/* Responsividade: */

@media (max-width: 1024px) {

    main {

        flex-direction: column;

    }

    main article {

        text-align: center;

    }
    
}

@media (min-width: 1024px) {

    main article {

        max-width: 50%;

    }
    
}

@media (max-width: 767px) {

    main figure {

        height: 150px;
        width: 150px;
    
    }

    main article {

        font-size: 20px;

    }
    
}