/* Recursos: */

@import url("./Global.css");

/* Estilos: */

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.container-data-box{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-neutral-color);
    width: 498px; 
    border-radius: 10px;
    gap: 10px;
    box-shadow: 2px 2px 8px 1px var(--primary-neutral-color);
    margin: 5px 0px 25px 0;
  
}

.container-data{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    padding: 10px;
  
}

.data{
  
    border: none;
    width: 130px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
  
}

/*box equipamentos*/

.container-equip-box{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: var(--secondary-neutral-color);
    height: 150px; 
    width: 498px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 2px 2px 8px 1px var(--primary-neutral-color);
    margin: 5px 0px 25px 0;
  
}

.container-equip{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    padding: 10px;
  
}

.equip{
  
    border: none;
    width: 130px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
  
}

/*box bloco*/

.container-bloco-box{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: var(--secondary-neutral-color);
    width: 498px;
    border-radius: 10px;
    gap: 24px;
    box-shadow: 2px 2px 8px 1px var(--primary-neutral-color);
    margin: 5px 0px 25px 0;
  
}

.container-bloco{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    padding: 10px;
  
}

.bloco{
  
    border: none;
    width: 130px;
    height: 35px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
  
}

.button{
  
    display: flex;
    justify-content: center;
    gap: 20px;
  
}

button{
  
    padding: 12px;
    width: 100px;
    font-weight: bold;  
    background-color: var(--main-color);
    color: var(--secondary-neutral-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  
}

button:hover{
  
    opacity: .6;
}

.agendar{
    box-shadow: 0 0 5px 0 var(--primary-neutral-color);
}

.voltar{
  
    background-color: #fff;
    color: var(--main-color);
    box-shadow: 0 0 5px 0 var(--primary-neutral-color);
}

/* Responsividade: */

