/* Recursos: */

@import url("./Global.css");

/* Estilos: */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    min-height: 450px;
    width: 500px;
}
.form-content{
    display: flex;
    flex-direction: column;
}

h2 {
    color: var(--main-color);
    margin: 20px 0 10px 0;
}

label {
    margin: 20px 0 2px 0;
    text-align: center;
}

input {
    width: 220px;
    height: 28px;
}

textarea {
    width: 340px;
    height: 130px;
    resize: none;
}

.btn-enviar {
    background-color: var(--main-color);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 600;
    height: 25px;
    width: 95px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contato-fatec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-fatec p {
    color: var(--main-color);
    font-weight: bolder;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.form-content a { /*texto da mensagem de erro*/
    text-align: center;
    bottom: -8px;
    font-size: small;
    left: 0;
    visibility: hidden;
}
.form-content.error input { /*cor borda do input do erro*/
    border: var(--main-color) 1px solid;  
}
.form-content.error textarea { /*cor borda do textarea*/
    border: var(--main-color) 1px solid;  
}


.form-content.error a{ /*cor texto input quando ativo*/
    color: var(--main-color);  
    visibility: visible;
}


/* Responsividade: */
@media(max-width: 1024px) {
    body {
        font-size: 1.5rem;
    }

    h2 {
        margin-top: 20px;
    }

    label {
        margin-bottom: 10px;
    }

    .btn-enviar {
        margin-bottom: 10px;
    }

    textarea {
        width: 400px;
        height: 50px;
        margin-bottom: 5px;
    }

    input {
        width: 400px;
        /* margin-top: 20px; */
    }

    .fale-container {
        height: 650px;
        width: 700px;
    }
}

@media(max-width: 720px) {
    body {
        font-size: 1.5rem;
    }

    main {
        margin-top: 40px;
        justify-content: center;
    }

    .fale-container h2 {
        font-size: 1.7rem;
        text-align: center;
    }

    label {
        margin-bottom: 10px;
    }

    textarea {
        width: 80%;
    }

    input {
        width: 80%;
        height: 20px;
    }

    .fale-container {
        width: 330px;
    }

    #container main {
        height: 690px;
    }

    .contato-fatec {
        margin-top: 20px;
    }
}