/* Recursos: */

@import url("./Global.css");

/* Estilos: */

#container main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;

}

#container main h1 {

    text-align: center;

}

#container main #desenvolvedores {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    gap: 20px;

}

#container main #desenvolvedores .desenvolvedor {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

}

#container main #desenvolvedores .desenvolvedor figure {

    height: 250px;
    width: 250px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 1px 2px 5px 1px var(--primary-neutral-color);
    overflow: hidden;

}

#container main #desenvolvedores .desenvolvedor figure img {

    height: 100%;
    width: 100%;
    overflow: hidden;

}

#container main #desenvolvedores .desenvolvedor a {

    color: var(--primary-neutral-color);
    text-decoration: none;
    transition: 0.5s;

}

#container main #desenvolvedores .desenvolvedor a:hover {

    color: var(--main-color);

}

/* Responsividade: */

@media (min-width: 768px) and (max-width: 1024px) {

    #container main #desenvolvedores {

        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, auto);

    }

}

@media (max-width: 767px) {

    #container main #desenvolvedores {

        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);

    }

    #container main #desenvolvedores .desenvolvedor figure {

        width: 200px;
        height: 200px;

    }

    #container main #desenvolvedores .desenvolvedor h2 {

        font-size: 20px;

    }

}