/* Recursos: */

@import url("./Global.css");

/* Estilos: */

#container main {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

}

#container main figure {

    height: 300px;
    width: 350px;
    background-color: var(--secondary-neutral-color);
    border: 2px solid var(--primary-neutral-color);
    border-radius: 15px;
    overflow: hidden;

}

#container main figure img {

    height: 100%;
    width: 100%;
    overflow: hidden;

}

#container main article {

    font-size: 25px;
    line-height: 45px;
    text-align: start;

}

#container main #mapa {

    height: 40%;
    width: 85%;
    display: block;
    border: 2px solid var(--primary-neutral-color);
    border-radius: 15px;
    overflow: hidden;

}

/* Responsividade: */

@media (min-width: 1025px) {

    #container main article {

        max-width: 50%;

    }
    
}

@media (max-width: 1024px) {

    #container main {

        flex-direction: column;
        flex-wrap: nowrap;

    }

    #container main article {

        text-align: center;

    }

    #container main #mapa {

        display: none;

    }
    
}

@media (max-width: 767px) {

    #container main figure {

        height: 200px;
        width: 250px;
        min-height: 200px;
        min-width: 200px;
    
    }

    #container main article {

        font-size: 20px;

    }
    
}